@media (width >= 660px) {
  nav {
    width: 650px;
    margin: 0 auto;
  }
}

nav {
  padding-top: 9px;
  padding-bottom: 9px;
  background: linear-gradient(to right, #323845, #191c23);
  border-radius: 45px;
  text-align: center;
  margin-top: 15px;
}

body {
  margin-left: 0px;
  margin-right: 0px;
}

header {
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: center;
  height: 600px;
}

.nav_link a {
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav_link a:hover {
  color: rgb(15, 148, 215);
}

.contact_intro,
.my_work_description,
.contact_form_label,
.contact_form_paragraph,
.about_me_description,
address {
  color: rgb(200, 200, 200);
  text-align: center;
}

#about_me:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

#about_me {
  transition: transform 0.2s ease;
}

body {
  font-family: Space Grotesk, sans-serif;
  background-color: #272626;
  background-image: linear-gradient(
      to right,
      rgba(78, 78, 78, 0.079) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(54, 52, 52, 0.15) 1px, transparent 1px);
  background-size: 20px 20px;
  font-size: 17px;
}

#my_name {
  margin-top: 80px;
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 12vw;
}

#about_me h2 {
  font-size: 40px;
  margin-top: 80px;
  background: linear-gradient(to right, #15bdfc, #86dfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
}

#my_work {
  margin-top: 80px;
  background: linear-gradient(to right, #383b3f, #4f4f4f);
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 1px;
}

.github_link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.github_link:hover {
  color: rgb(15, 148, 215);
}

#my_work h2 {
  background: linear-gradient(to right, #523fff, #756892);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#discipline_manager,
#my_e_shopping_website {
  max-width: 90%;
  width: 340px;
  padding-top: 10px;
  padding-bottom: 1px;
  background: linear-gradient(to right, #323845, #1e2535);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -10px;
  margin-top: -10px;
  padding-top: 0px;
  border-radius: 15px;
}

figcaption p {
  text-align: left;
  padding-left: 10px;
}

figcaption a {
  padding-left: 10px;
}

#contact {
  background: linear-gradient(to bottom, #1e2535, #161b26);
  padding-top: 2px;
  padding-bottom: 30px;
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50px;
}

#contact_form {
  background-color: rgb(22, 20, 34);
  padding: 20px 60px 3px 40px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 30%;
  margin-top: -5px;
}

#contact h1 {
  font-size: 40px;
  color: white;
  text-align: center;
}

#contact_form h2 {
  font-size: 20px;
  color: white;
  text-align: left;
}

figcaption {
  text-align: left;
}

.project_description {
  color: rgb(200, 200, 200);
  text-align: left;
}

.project_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 20px;
  max-width: 100%;
}

#discipline_manager_image,
#my_e_shopping_website_image {
  max-width: 100%;
  width: 340px;
  height: 280px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

address {
  margin-top: 80px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  color: white;
  padding: 20px;
  background: linear-gradient(to right, #323845, #1e2535);
}

#contact_form input,
#contact_form textarea {
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 0.4px solid #454953;
  border-radius: 5px;
  background-color: #323845;
  color: white;
}

#message {
  resize: vertical;
  width: 100%;
  max-width: 100%;
}

#send_message_button {
  background: linear-gradient(to right, #2db5e7, #6f39e2);
  width: 103%;
  border: none;
  color: white;
  padding: 20px 0 20px 0;
  border-radius: 5px;
  cursor: pointer;
}

.contact_app {
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  margin-top: -30px;
}

@media (width > 785px) {
  .contact_app {
    margin-left: 40px;
  }
  #contact_form {
    margin-left: 28%;
  }
}

@media (width <= 785px) {
  #contact_info {
    flex-direction: column;
  }
}

.contact_app_name {
  font-style: bold;
  font-size: 1em;
  margin-top: -2px;
  margin-left: 10px;
  padding-bottom: 4px;
  color: #ffffff;
}

.contact_app_username {
  font-size: 0.7em;
  margin-top: -20px;
  margin-left: 10px;
  color: #97a5ac;
}

#contact_info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#contact_info_apps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-top: 30px;
}
