html {
  font-size: 10px;
  background-color: #323239;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #929292;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(0, 0, 0);
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

h1 {
  margin: 0;
  padding: 15px 0;
  color: #ffffff;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.done {
  color: red;
  text-decoration: line-through solid black 2px;
}
